<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de Funcionários - Smoke N' Smoke</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/CadastroBackOffice.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>

    </head>
    <body>
        <header>
            <img class="logo" src="/logo.png"/>
            <h1>Smoke N' Smoke</h1>
        </header>
        <div class="container">
            <div class=" text-center mt-5 ">
                <h1> Cadastro de Funcionários</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light">
                        <div class="card-body bg-light">
                            <div class="container">
                                <form method="post">
                                    <div class="controls">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"> <label>* Nome do Funcionário</label><input type="text" id="fun_nome" class="form-control" name="fun_nome" required="required"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label>* Sexo</label><input type="text" id="fun_sexo" class="form-control" name="fun_sexo" required="required"></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"> <label>* Senha</label><input type="password" id="fun_senhausu" class="form-control" name="fun_senhausu" required="required"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label>* Cargo</label><input type="text" id="fun_cargo" class="form-control" name="fun_cargo" required="required"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"> <label>* E-mail</label><input type="text" id="fun_email" class="form-control" name="fun_email" required="required"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-md-7 control-label" for="status">Status</label>
                                                <div class="col-md-8">
                                                    <label><input value="true" type="radio" checked="checked" name="fun_flgativo" id="fun_flgativo"/> Ativo </label> 
                                                    <label><input value="false" type="radio"/>Inativo </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"><button type="button" class="btn btn-secondary btn-rounded pt-2 btn-block"><a href="/produtos">Cancelar</a></button></div>
                                            <div class="col-md-6"><button type="submit" class="btn btn-success btn-send pt-2 btn-block ">Salvar</button></div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </body>
                    </html>
