@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200&display=swap');

header {
    padding: 15px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333;
}

.container {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}
.btn-rounded {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}
button a {
    color: white;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.logo{
    width: 150px; 
    height: 100px;  
    text-indent: -9999px;
}