/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200&display=swap');

header {
  padding: 15px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
  font-family: 'Architects Daughter', cursive;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F5F5;
   }

img {
  max-width: 100%; }  

.card {
  margin-top: 50px;
  background: #F7F5F5;
  padding: 3em;
  line-height: 1.5em;
  margin-bottom: 50px; }

.product-title, .price, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.add-to-cart {
  background: black;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: white; }


